/* hidden elements should be hidden regardless of their display style */
[hidden] { display: none !important; }

/* default to width/height including padding and border */
* { box-sizing: border-box; }

/* make buttons inherit font */ 
button { font-family: inherit; font-size: inherit; }

/* clickable things should use this cursor imo */
button, a { cursor: pointer; }
