doctype html
html
    head
        title neocities publisher
        meta(charset="utf-8")
        script
            include scripts/main.js
        style#base-style
            include styles/base-style.css
        style#main-style
            include styles/main-style.css
    body(onload="start()")
        #column
            form.section(action="#")
                h2 neocities publisher
                h3 username
                .button-row
                    input#username(type="text" name="username")
                h3 password
                .button-row
                    input#password(type="password" name="password")
                h3 publish
                .button-row
                    input#destination(type="text")
                    button#upload(type="button") upload

